<% @movies.each do |movie| %>
  <ul>
      <li><%= movie["trackName"] %></li>
      <li><%= movie["country"] %></li>
      <li><%= movie["short_descrip"] %></li>
      <li><%= movie["trackHdRentalPrice"] %></li>
      <%= image_tag "#{movie['artworkUrl100']}" %>
  </ul>
<% end %>